<div class="main-wrapper">
    <button class="button" (click)="showDialog()">ახალი ჩანაწერი</button>
    <p-dialog [formGroup]="registrationForm" header="მომხმარებლის დამატება" [modal]="true" [(visible)]="visible"
        [style]="{display:'flex',flexDirection:'column',maxWidth: '1083px', width: '100%',height:'817px'}">
        <div class="dialog-wrapper">
            <label class="font-semibold w-6rem">სახელი</label>
            <input [ngStyle]="{
                'border-color':
                registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched
                    ? '#FF6D6D'
                    : '#DEEBFF'
              }" pInputText class="flex-auto" autocomplete="off" formControlName="name" />

            <label class="font-semibold w-6rem">გვარი</label>
            <input [ngStyle]="{
                'border-color':
                registrationForm.get('lastname')?.invalid && registrationForm.get('lastname')?.touched
                    ? '#FF6D6D'
                    : '#DEEBFF'
              }" pInputText class="flex-auto" autocomplete="off" formControlName="lastname" />

            <label class="font-semibold w-6rem">მომხმარებლის სახელი</label>
            <input [ngStyle]="{
                'border-color':
                registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched
                    ? '#FF6D6D'
                    : '#DEEBFF'
              }" pInputText class="flex-auto" autocomplete="off" formControlName="username" />

            <label class="font-semibold w-6rem">პაროლი</label>
            <input [ngStyle]="{
                'border-color':
                registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched
                    ? '#FF6D6D'
                    : '#DEEBFF'
              }" pInputText class="flex-auto" autocomplete="off" formControlName="password" type="password"/>

            <label for="email" class="font-semibold w-6rem">მომხმარებლის ტიპი</label>
            <p-dropdown [ngStyle]="{
                'border-color':
                registrationForm.get('role_id')?.invalid && registrationForm.get('role_id')?.touched
                    ? '#FF6D6D'
                    : '#DEEBFF'
              }" class="flex-auto" [options]="roles" optionLabel="label" optionValue="value"
                placeholder="მომხმარებლის ტიპი" formControlName="role_id" (onChange)="onRoleChange($event)">
            </p-dropdown>

            <div class="flex-auto" *ngIf="showWarehousesList">
                <p-dropdown class="flex-auto" [options]="warehousesList" optionLabel="warehouse" optionValue="id"
                    placeholder="საწყობების სია" formControlName="warehouse_id" [ngStyle]="{
                    'border-color':
                    registrationForm.get('warehouse_id')?.invalid && registrationForm.get('warehouse_id')?.touched
                        ? '#FF6D6D'
                        : '#DEEBFF'
                  }"></p-dropdown>
            </div>

            <label class="font-semibold w-6rem">მობილური</label>
            <input pInputText class="flex-auto" autocomplete="off" formControlName="mobile" />

            <div class="buttons">
                <p-button label="Save" (onClick)="registerUser()" />
            </div>
        </div>
    </p-dialog>
</div>
<div class="main-wrapper">
    <p-table #dt [value]="users" [(selection)]="selectedUsers" dataKey="id" [rowHover]="true" [rows]="10"
        [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['id','name', 'lastname', 'username','role','mobile']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(dt)" />
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">
                    <div class="flex justify-content-between align-items-center">
                        აიდი
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="name">
                    <div class="flex justify-content-between align-items-center">
                        სახელი
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="lastname">
                    <div class="flex justify-content-between align-items-center">
                        გვარი
                        <p-sortIcon field="lastname"></p-sortIcon>
                        <p-columnFilter type="text" field="lastname" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="username">
                    <div class="flex justify-content-between align-items-center">
                        მომხმარებლის სახელი
                        <p-sortIcon field="username"></p-sortIcon>
                        <p-columnFilter type="text" field="username" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="role">
                    <div class="flex justify-content-between align-items-center">
                        როლი
                        <p-sortIcon field="role"></p-sortIcon>
                        <p-columnFilter type="text" field="role" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="mobile">
                    <div class="flex justify-content-between align-items-center">
                        მობილური
                        <p-sortIcon field="mobile"></p-sortIcon>
                        <p-columnFilter type="text" field="mobile" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr class="p-selectable-row" (click)="editUser(user)">
                <td>
                    <span class="p-column-title">Id</span>
                    {{ user.id }}
                </td>
                <td>
                    <span class="p-column-title">Name</span>
                    {{ user.name }}
                </td>
                <td>
                    <span class="p-column-title">Lastname</span>
                    {{ user.lastname }}
                </td>
                <td>
                    <span class="p-column-title">Username</span>
                    {{ user.username }}
                </td>
                <td>
                    <span class="p-column-title">Role</span>
                    {{ user.role==='manager'?'მენეჯერი':'ოპერატორი' }}
                </td>
                <td>
                    <span class="p-column-title">Mobile</span>
                    {{ user.mobile }}
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog *ngIf="selectedUser" header="მომხმარებლის რედაქტირება" [modal]="true" [(visible)]="dialogOpen"
    [style]="{display:'flex',flexDirection:'column',maxWidth: '1083px', width: '100%',height:'auto'}">
    <div class="dialog-wrapper">
        <label class="font-semibold w-6rem">სახელი</label>
        <input class="flex-auto" pInputText id="name" [(ngModel)]="selectedUser.name" name="name" />

        <label class="font-semibold w-6rem">გვარი</label>
        <input class="flex-auto" pInputText id="lastname" [(ngModel)]="selectedUser.lastname" name="lastname" />

        <label class="font-semibold w-6rem">მომხმარებლის სახელი</label>
        <input class="flex-auto" pInputText id="username" [(ngModel)]="selectedUser.username" name="username" />

        <label for="username" class="font-semibold w-6rem">მობილური</label>
        <input class="flex-auto" pInputText id="mobile" [(ngModel)]="selectedUser.mobile" name="mobile" />

        <div class="buttons">
            <p-button label="Save" (onClick)="updateUser()" />
        </div>
    </div>
</p-dialog>